{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 700px;">

    <div class="card shadow-sm">
        <div class="card-header fw-bold bg-light">
            Edit Patient Profile
        </div>

        <div class="card-body">
            <form method="POST">

            <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" name="username"
                    value="{{ user.username }}" required>
            </div>

            <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-select" name="gender" required>
                <option value="M" {% if user.gender == 'M' %}selected{% endif %}>Male</option>
                <option value="F" {% if user.gender == 'F' %}selected{% endif %}>Female</option>
            </select>
            </div>

            <div class="mb-3">
            <label class="form-label">Birth Date</label>
            <input type="date" class="form-control" name="birth_date"
                    value="{{ user.birth_date.strftime('%Y-%m-%d') if user.birth_date }}">
            </div>

            <hr>

            <div class="mb-3">
            <label class="form-label">Insurance Number</label>
            <input type="text" class="form-control" name="insurance_no"
                    value="{{ user.patient_profile.insurance_no or '' }}">
            </div>

            <div class="mb-3">
            <label class="form-label">Emergency Contact</label>
            <input type="text" class="form-control" name="emergency_contact"
                    value="{{ user.patient_profile.emergency_contact or '' }}">
            </div>

            <div class="d-flex justify-content-between">
            <a href="{{ url_for('patient.profile') }}" class="btn btn-secondary">
                Cancel
            </a>
            <button type="submit" class="btn btn-primary">
                Save Changes
            </button>
            </div>

        </form>
        </div>
    </div>

</div>
{% endblock %}
